body {
  font-family: "Inter", serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: #333333;
  line-height: 1.2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

svg {
  pointer-events: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  padding: 24px;
  background-color: #e2e2e2;
  min-height: 640px;
}

.btn-icon,
.tag-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-title {
  margin-bottom: 16px;
  font-size: 40px;
  color: #000;
}

/* SEARCH INPUT */

.input-search-container {
  position: relative;
  margin-bottom: 4px;
}

.input-search {
  width: 100%;
  height: 32px;
  border: 1px solid #999999;
  border-radius: 4px;
}

.input-search-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
}

/* TAG BUTTONS */

.tag-btns-list {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  padding-left: 3px;
}

.tag-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.tag-btn:is(:hover, :focus) {
  color: #ff6600;
}

.empty-list-text {
  font-size: 20px;
  text-align: center;
  margin: 16px 0;
}

/* ENTRY */

.entry-list {
  height: 400px;
  overflow-y: auto;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.entry-item {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #ffffff;
}

.entry-item:not(:last-child) {
  margin-bottom: 16px;
}

.entry-item-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.entry-tag {
  padding: 2px 3px;
  border: 1px solid #ff6600;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: #ff6600;
}

.entry-controllers-list {
  display: flex;
  align-items: start;
  height: 24px;
}

.entry-controller-btn {
  width: 24px;
  height: 24px;
  color: currentColor;
}
.controller-btn-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.entry-controller-btn:is(:hover, :focus) {
  color: #ff6600;
}

.entry-title {
  font-size: 24px;
  line-height: 29px;
}

.entry-text {
  margin-bottom: 16px;
}

.primary-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border: 0;
  border-radius: 8px;
  vertical-align: middle;
  background-color: #ff6600;
  color: #ffffff;
}

.entry-status-btn-icon {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

/* ENTRY COMPLETED STATUS */
.entry-item[data-completed="true"] {
  background-color: #f1f1f1;
  color: #8a8a8a;
}

.entry-item[data-completed="true"] .entry-title,
.entry-item[data-completed="true"] .entry-text {
  text-decoration: line-through;
}

.entry-item[data-completed="true"] .entry-tag {
  color: #f1a471;
}

.entry-item[data-completed="true"] .entry-status-btn {
  background-color: #f1a471;
}

/* ADD ENTRY BTN */

.open-form-btn-icon {
  width: 24px;
  height: 24px;
}

/* ADD ENTRY FORM */

.add-entry-form {
  padding-top: 16px;
  border-top: 1px solid #999999;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}

.category-input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.category-input-label {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.category-input-label:is(:hover, :focus) {
  color: #ff6600;
}

.category-input-label:has(.category-input:checked) {
  color: #ff6600;
}

.category-input {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.title-input,
.text-input {
  width: 100%;
  border: 1px solid #999999;
  border-radius: 4px;
  padding-left: 5px;
}

.title-input {
  height: 32px;
  margin-bottom: 12px;
}

.text-input {
  height: 96px;
  resize: none;
  margin-bottom: 12px;
}

.form-btn-wrapper {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.form-close-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  border: 0;
  background-color: transparent;
}

.form-btn-icon {
  width: 24px;
  height: 24px;
}
