/* vars */
:root {
  --mainTextClr: #131316;
  --secondTextClr: #494a4d;
  --mainLightTextClr: #ffffff;
  --mainBgClr: #ffffff;
  --secondBgClr: #131316;
  --primaryBtnClr: #4891ff;
  --primaryBtnClrHov: #1570f9;
  --primaryBtnText: #ffffff;
  --secondaryBtnClr: #f5f5f5;
  --secondaryBtnHov: #4891ff;
  --secondaryBtnTextHov: #ffffff;
  --linkHover: #1570f9;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --accentClr: #4891ff;
}

/* body */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--mainBgClr);
  color: var(--mainTextClr);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* general */
.container {
  width: 1278px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.primary-btn {
  background-color: var(--primaryBtnClr);
  color: var(--primaryBtnText);
  transition: background-color var(--transition), color var(--transition);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--primaryBtnClrHov);
}

.secondary-btn {
  background-color: var(--secondaryBtnClr);
  transition: background-color var(--transition);
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--secondaryBtnHov);
  color: var(--secondaryBtnTextHov);
}

.logo {
  font-weight: 600;
  font-size: 28px;
  line-height: 0.9;
}

.logo::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 17px;
  height: 13px;
  background-image: url(../images/logo-line.svg);
  vertical-align: text-top;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.no-scroll {
  overflow: hidden;
}

/* header */
.header {
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 732px;
}

.header-nav {
  display: flex;
  row-gap: 732px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  transition: color var(--transition);
}

.header-link:hover {
  color: var(--linkHover);
}

.header-btn {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

/* hero */
.hero-section {
  padding: 72px 0;
}

.hero-container {
  position: relative;
  min-height: 653px;
}

.hero-title {
  margin-bottom: 24px;
  width: 824px;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text {
  margin-bottom: 40px;
  width: 611px;
  font-size: 20px;
  line-height: 1.6;
}

.header-btn-wrapper {
  display: inline-flex;
  gap: 16px;
  margin-bottom: 50px;
}

.hero-book-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.hero-icon {
  width: 21px;
  height: 22px;
  fill: currentColor;
}

.hero-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/* demo */

.player-section {
  background-color: var(--secondBgClr);
  padding: 96px 0;
}

.player-container {
  text-align: center;
}

.player-title {
  margin: 0 auto 58px;
  width: 767px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
}

.player-box {
  min-height: 486px;
  margin: 0 auto 64px;
  position: relative;
  text-align: center;
}

.player-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-controller-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-controller {
  display: inline;

  width: 80px;
  height: 80px;

  background-color: #ffffff;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 19px 24px;

  border-radius: 50%;
  border: none;

  transition: transform var(--transition), background-size var(--transition);
}

.player-controller:hover {
  transform: scale(1.2);
  background-size: 23px 29px;
}

/* testimonials */
.testimonials-section {
  position: relative;
  padding: 96px 0;
  background-color: var(--secondBgClr);
}

.testimonials-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  height: 1px;
  width: 1265px;
  background-color: #494949;
  transform: translateX(-50%);
}

.testimonials-title {
  width: 836px;
  margin-bottom: 65px;
  color: var(--mainLightTextClr);
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1px;
}

.testimonials-list {
  display: flex;
  gap: 24px;
  align-items: start;
}
.testimonials-item {
  width: 406px;
  padding: 41px 40px 32px;
  background-color: #fafafa;
  border-radius: 16px;
  line-height: 1.5;
}
.testimonials-item-text {
  margin-bottom: 48px;
  font-style: italic;
  font-size: 20px;
}
.testimonials-item-author {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 18px;
}

/* pricing */
.pricing-section {
  padding: 72px 0;
  text-align: center;
}

.pricing-title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -3px;
}
.pricing-text {
  line-height: 1.6;
}

.pricing-text:nth-of-type(1) {
  margin-bottom: 64px;
}
.pricing-text:nth-of-type(2) {
  margin-bottom: 16px;
}

.pricing-plan-box {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: start;
}

.pricing-plan {
  padding: 56px;
  border-radius: 16px;
  width: 400px;
}

.pricing-plan-simple {
  background-color: #fafafa;
}

.pricing-plan-premium {
  background-color: #131316;
  color: var(--mainLightTextClr);
}

.pricing-plan-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
}

.pricing-description {
  margin-bottom: 32px;
  line-height: 1.6;
}

.pricing-plan-simple .pricing-description {
  color: #494a4d;
}

.pricing-plan-premium .pricing-description {
  color: #e5e7eb;
}

.pricing-name-box {
  margin-bottom: 32px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 29px;
}

.pricing-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
}

.pricing-name-premium {
  margin-bottom: 32px;
}

.pricing-note {
  font-size: 14px;
  line-height: 1.2;
}

.pricing-name > span {
  margin-left: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.pricing-name-box::after,
.pricing-name-premium::after {
  content: '';
  display: block;
  flex-basis: 100%;
  height: 1px;
}

.pricing-name-box::after {
  background-color: #dfdee2;
}

.pricing-name-premium::after {
  margin-top: 24px;
  background-color: #494949;
}

.pricing-list-description {
  margin-bottom: 12px;
  width: 262px;
  line-height: 1.6;
}

.pricing-list {
  line-height: 1.6;
  margin-bottom: 32px;
}

.pricing-list-item {
  display: inline-flex;
  align-items: first baseline;
  gap: 12px;
}

.pricing-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.pricing-list-item::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  width: 14px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.pricing-list-simple .pricing-list-item::before {
  background-image: url(../images/check-black.svg);
}

.pricing-list-premium .pricing-list-item::before {
  background-image: url(../images/check-white.svg);
}

.pricing-btn {
  width: 100%;
}

.pricing-link {
  font-family: 'Inter', serif;
  font-weight: 600;
  line-height: 1.5;
  transition: color var(--transition);
}

.pricing-link-icon {
  margin-left: 8px;
  fill: currentColor;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  transition: transform var(--transition);
}

.pricing-link:hover {
  color: var(--linkHover);
}

.pricing-link:hover .pricing-link-icon {
  transform: rotate(-90deg);
}

/* FAQ */

.faq-section {
  margin-bottom: 96px;
}

.faq-container {
  padding-top: 13px;
  border-top: 1px solid #e9e9ec;
}

.faq-title {
  margin-bottom: 41px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -3px;
  text-align: center;
}

.faq-button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0 auto 111px;
  padding: 8px 13px 8px 8px;
  background-color: #f4f4f6;
  border-radius: 8px;
  width: 383px;
  font-size: 0;
}

.faq-filter-btn {
  padding: 12px 24px;
  background-color: #f4f4f6;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  border: none;
  border-radius: 8px;
  transition: background-color var(--transition);
}

.faq-filter-btn:not(:last-child) {
  margin-right: 8px;
}

.faq-filter-btn:hover {
  background-color: #dbe7f9;
}

.faq-filter-btn:focus {
  background-color: var(--primaryBtnClr);
  color: var(--primaryBtnText);
}

.questions-list {
  width: 824px;
  margin: 0 auto;
}

.question-item {
  position: relative;
  overflow: hidden;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dfdee2;
  transition: padding var(--transition);
}

.question-title {
  width: 742px;
  font-size: 20px;
  line-height: 1.5;
}

.question-answer {
  position: absolute;
  opacity: 0;
  transform: translateY(-150%);
}

.question-btn {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  color: var(--mainTextClr);
}

.question-item.expanded {
  padding-bottom: 48px;
  border-bottom-color: #131316;
}

.question-item.expanded .question-answer {
  position: static;
  margin-top: 16px;
  line-height: 1.6;
  color: #494a4d;
  width: 718px;
  transform: translateY(0);
  opacity: 100;
  transition: transform var(--transition), opacity var(--transition) 100ms;
}

.question-btn-icon {
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  transition: transform var(--transition);
  fill: currentColor;
  pointer-events: none;
}

.question-item.expanded .question-btn-icon {
  transform: rotate(90deg);
}

/* footer */

.footer {
  padding: 109px 0 40px;
  background-color: var(--secondBgClr);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 43px;
  color: var(--mainLightTextClr);
}

.footer-wrapper {
  display: flex;
  margin-bottom: 41px;
}

.footer-form {
  margin-right: 132px;
  display: inline-block;
  padding: 25px;
  background-color: #f4f4f6;
  border-radius: 16px;
}

.footer-form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-form-text {
  width: 355px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.footer-form-wrapper {
  display: flex;
  gap: 16px;
}

.footer-form-input {
  width: 220px;
  height: 48px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #bebdc6;
  border-radius: 8px;
}

.footer-form-input:focus {
  outline: 2px solid var(--accentClr);
}

.footer-form-btn {
  padding: 12px 20px;
}

.footer-nav {
  margin-right: 90px;
  display: flex;
  gap: 102px;
}

.footer-nav-title,
.address-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  color: #dfdee2;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-nav-link,
.address-mail-link {
  color: #bcc2c3;
  transition: color var(--transition);
}

.footer-nav-link:hover,
.address-mail-link:hover {
  color: #f4f4f6;
}

.footer-media-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 65px;
}

.footer-soc-link {
  display: inline-flex;
  align-items: center;
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  fill: #bcc2c3;
  transition: fill var(--transition);
}

.footer-soc-link:hover .footer-soc-icon {
  fill: #f4f4f6;
}

.footer-copyright {
  color: #bcc2c3;
}

/* modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity var(--transition), visibility var(--transition);
  overflow-y: scroll;
}

.modal-window {
  font-family: 'Inter', serif;
  padding: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  min-height: 680px;
  background-color: var(--mainBgClr);
  transition: transform var(--transition);
}
.modal-btn-close {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}

.modal-btn-cls-icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
}
.modal-text {
  margin-bottom: 32px;
  font-size: 18px;
  color: #969696;
}
.modal-form {
  margin-bottom: 20px;
}

.modal-input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.modal-input-label {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px;
  font-size: 18px;
  color: #9a9a9a;
  background-color: #ffffff;
  transition: transform var(--transition), color var(--transition);
}

.modal-input {
  width: 100%;
  height: 60px;
  padding: 16px;
  padding-right: 40px;
  font-size: 18px;
  border: 2px solid #d9d9d9;
  border-radius: 16px;
  transition: border var(--transition);
}

.modal-input:focus,
.modal-input:invalid:not(:placeholder-shown) {
  outline: none;
  border: 2px solid var(--accentClr);
}

.modal-input-label:has(+ .modal-input:focus),
.modal-input-label:has(+ .modal-input:not(:placeholder-shown)) {
  transform: translateY(-115%);
  font-weight: 500;
  font-size: 14px;
}

.modal-input-label:has(+ .modal-input:focus),
.modal-input-label:has(+ .modal-input:invalid:not(:placeholder-shown)) {
  color: var(--accentClr);
}

.password-checkbox-label {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  transition: color var(--transition);
  color: #9a9a9a;
  background-color: transparent;
  border: none;
}

.password-input-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  cursor: pointer;
  pointer-events: none;
}

.password-checkbox-label:has(.password-checkbox:checked) {
  color: #131316;
}

.modal-checkbox-label {
  display: inline-block;
  margin-bottom: 20px;
}

.modal-checkbox-label::before {
  content: '';
  display: inline-block;
  vertical-align: sub;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url(../images/check-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  transition: background-color var(--transition);
}

.modal-checkbox:checked + .modal-checkbox-label::before {
  background-color: var(--accentClr);
  border-color: transparent;
}

.modal-divider {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #6e6e6e;
}

.modal-divider::before,
.modal-divider::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 182px;
  height: 1px;
  background-color: #d9d9d9;
}

.modal-divider::before {
  margin-right: 10px;
}

.modal-divider::after {
  margin-left: 10px;
}

.modal-btn-submit,
.modal-btn-google {
  display: block;
  width: 100%;
  line-height: 1.2;
  padding-inline: 8px;
}

.modal-btn-google {
  margin-bottom: 32px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  transition: background-color var(--transition);
}

.modal-btn-google:hover {
  background-color: #f8f7f7;
}

.modal-btn-google::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  height: 20px;
  width: 20px;
  background-image: url(../images/google.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal-redirect-box {
  text-align: center;
}
.modal-redirect-text {
  margin-right: 3px;
  display: inline;
  font-size: 18px;
  line-height: 1.5;
}
.modal-redirect-btn {
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: underline;
  color: var(--accentClr);
  background-color: transparent;
  border: none;
}
