/* vars */
:root {
  --mainTextClr: #131316;
  --secondTextClr: #494a4d;
  --mainLightTextClr: #ffffff;
  --mainBgClr: #ffffff;
  --secondBgClr: #131316;
  --primaryBtnClr: #4891ff;
  --primaryBtnClrHov: #1570f9;
  --primaryBtnText: #ffffff;
  --secondaryBtnClr: #f5f5f5;
  --secondaryBtnHov: #4891ff;
  --secondaryBtnTextHov: #ffffff;
  --linkHover: #1570f9;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* body */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--mainBgClr);
  color: var(--mainTextClr);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* general */
.container {
  width: 1278px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.primary-btn {
  background-color: var(--primaryBtnClr);
  color: var(--primaryBtnText);
  transition: background-color var(--transition), color var(--transition);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--primaryBtnClrHov);
}

.secondary-btn {
  background-color: var(--secondaryBtnClr);
  transition: background-color var(--transition);
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--secondaryBtnHov);
  color: var(--secondaryBtnTextHov);
}

/* header */
.header {
  padding: 20px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 732px;
  font-weight: 600;
  font-size: 28px;
  line-height: 0.9;
}

.header-logo::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 17px;
  height: 13px;
  background-image: url(../images/logo-line.svg);
  vertical-align: text-top;
}

.header-nav {
  display: flex;
  row-gap: 732px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  transition: color var(--transition);
}

.header-link:hover {
  color: var(--linkHover);
}

.header-btn {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}

/* hero */
.hero-section {
  padding: 72px 0;
}

.hero-container {
  position: relative;
  min-height: 653px;
}

.hero-title {
  margin-bottom: 24px;
  width: 824px;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text {
  margin-bottom: 40px;
  width: 611px;
  font-size: 20px;
  line-height: 1.6;
}

.header-btn-wrapper {
  display: inline-flex;
  gap: 16px;
  margin-bottom: 50px;
}

.hero-book-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.hero-icon {
  width: 18px;
  height: 22px;
  fill: currentColor;
}

.hero-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/* demo */

.player-section {
  background-color: var(--secondBgClr);
  padding: 96px 0;
}

.player-container {
  text-align: center;
}

.player-title {
  margin: 0 auto 58px;
  width: 767px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
}

.player-box {
  min-height: 486px;
  margin: 0 auto 64px;
  position: relative;
  text-align: center;
}

.player-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-controller-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-controller {
  display: inline;

  width: 80px;
  height: 80px;

  background-color: #ffffff;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 19px 24px;

  border-radius: 50%;
  border: none;

  transition: transform var(--transition), background-size var(--transition);
}

.player-controller:hover {
  transform: scale(1.2);
  background-size: 23px 29px;
}
